body {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* transition: all 0.5s ease; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color :whitesmoke;
  padding: 0 1em 1em 1em;
  height: 99vh;
  /* width: 100%; */
}

#image-container {
  width: 400px;
  height: 400px;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#placeholder-text {
  position: absolute; /* Position absolutely within the image-container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.hidden {
  display: none;
}

.animal-name {
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
}

button {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.5em 1em;
  border-radius: 4.6px;
  background-color: pink;
  border: 1px solid pink;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #252525;
  color: pink;
}