* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100vh;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Comfortaa', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 85%;
  padding: 0;
}

#title {
  font-family: 'Lobster', sans-serif;
  font-size: 3rem;
  color: #C6FFDD;
  text-shadow: 0 0 1px #252525;
  margin-bottom: 0;
}

#icon-container {
  width: 300px;
  height: 300px;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -1.5em;
}

#info-container {
  display: flex;
  margin: 0 auto;
}

#placeholder-text {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #C6FFDD;
  text-shadow: 0 0 4px #252525;
}

h3.animal-name {
  font-size: 3rem;
  color: #f7797d;
  text-shadow: 0 0 3px #252525;
  text-align: center;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 3em 2em;
  border-radius: 50%;
  background-color: #f7797d;
  border: 2px solid #252525;
  color: #252525;
  box-shadow: 0 -4px 16px rgba(247, 121, 125, 1);
  cursor: pointer;
  transition: all .1s ease-in-out 0s;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: none;
}

.hidden {
  display: none;
}
