body {
  padding: 0;
  margin: 0;
}

h3 {
  text-align: center;
}

#title {
  font-family: 'Lobster', sans-serif;
  font-size: 2.5rem;
  color: #252525;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* transition: all 0.5s ease; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1em 1em 0;
  height: 99vh;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Comfortaa', sans-serif;
}

#image-container {
  width: 400px;
  height: 400px;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#info-container {
  display: flex;
}

#placeholder-text {
  position: absolute; /* Position absolutely within the image-container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.hidden {
  display: none;
}

.animal-name {
  font-size: 2.75rem;
  color: #252525;
  text-shadow: 0 0 1px #252525;
}

button {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 3em 2em;
  border-radius: 50%;
  background-color: #f44336;
  border: 1px solid #f44336;
  cursor: pointer;
  scale: 0.9;
  margin-bottom: 60px;
}

button:hover,
button:active,
button:focus {
  transform: scale(1.125);
  transition: all ease 0.3s;
}