.animal-tile {
  cursor: pointer;
  height: 100px;
  width: 100px;
  box-shadow: 2px 2px 4px hsla(73, 49%, 70%, 0.5);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 96%, 0.5);
}