* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 15%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  text-align: center;
  padding: .75em;
  margin: 0 auto;
}

.wrapper {
  height: 600px;
  width: 390px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tile-container {
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.button-container {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  height: 60px;
  width: 110px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
  background-color: hsla(155, 100%, 30%, 0.5);
  color: black;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
}

.btn:active {
  box-shadow: inset 2px 2px 10px -3px hsl(73, 49%, 70%);
}




