* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: hsl(73, 49%, 70%);
  color: hsl(0, 0%, 15%);
  padding: 2.5rem;
}

.wrapper {
  background-color: hsla(0, 0%, 96%, 0.5);
  height: 400px;
  width: 100%;
  max-width: 800px;
  border-radius: 4px;
  padding: 1em;
}

.tile-container {
  width: 100%;
  display: grid;
  grid-template: auto auto / repeat(4, 1fr);
}

